USE [PPDBDesireTilleras]
GO
/****** Object:  UserDefinedFunction [dbo].[fk_AveragePerDay]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fk_AveragePerDay](@fromDate DATE, @toDate DATE)
RETURNS INT
AS
BEGIN
DECLARE
@averageCost MONEY
SET @averageCost=(
SELECT TOP 1 AVG(TotalCost) as avgCost
FROM ParkingHistory
WHERE @fromDate <= CheckInTime AND @toDate >=CheckOutTime
GROUP BY CAST(CheckInTime as DATE)
ORDER BY CAST(CheckInTime as DATE)ASC)
RETURN CAST(@averageCost AS INT)

END
GO
/****** Object:  UserDefinedFunction [dbo].[fk_SpecDate]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fk_SpecDate](@date DATE)
RETURNS INT
AS
BEGIN
DECLARE
@totalIncome MONEY

SELECT @totalIncome = SUM(TotalCost)
FROM ParkingHistory
WHERE CAST(CheckOutTime AS DATE) = @date
RETURN CAST(@totalIncome AS INT)
END
GO
/****** Object:  UserDefinedFunction [dbo].[fk_TotalBetwDates]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fk_TotalBetwDates](@fromDate DATE, @toDate DATE)
RETURNS INT
AS
BEGIN
DECLARE
@totalIncome MONEY
SET @totalIncome=(
SELECT SUM(TotalCost)
FROM ParkingHistory
--WHERE @fromDate <= CheckInTime AND @toDate >=CheckOutTime)
WHERE CheckOutTime between @fromDate and @toDate)
RETURN CAST(@totalIncome AS INT)

END
GO
/****** Object:  Table [dbo].[ParkingSpots]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSpots](
	[ParkingSpotID] [int] IDENTITY(1,1) NOT NULL,
	[SpotNumber] [int] NOT NULL,
	[CurrentOccupation] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParkingSpotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FreeSpotsCars]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FreeSpotsCars]
AS
SELECT SpotNumber AS 'Parking Spot Number', CurrentOccupation AS 'Free spot for car'
FROM ParkingSpots
WHERE CurrentOccupation IS NULL OR CurrentOccupation = 0;
GO
/****** Object:  View [dbo].[FreeSpotsMC]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FreeSpotsMC]
AS
SELECT SpotNumber AS 'Parking Spot Number', CurrentOccupation AS 'Free spot for MC'
FROM ParkingSpots
WHERE CurrentOccupation IS NULL OR CurrentOccupation = 0 OR CurrentOccupation = 1;
GO
/****** Object:  Table [dbo].[ParkedVehicles]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkedVehicles](
	[ParkedVehiclesID] [int] IDENTITY(1,1) NOT NULL,
	[RegNumber] [nvarchar](10) NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[SpotID] [int] NOT NULL,
	[CheckInTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParkedVehiclesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ListAllSpots]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListAllSpots]
AS
SELECT SpotNumber,
COALESCE(RegNumber, 'EMPTY') AS RegNumber,
COALESCE(VehicleTypeID, 0) AS VehicleTypeID,
COALESCE(CheckInTime, 0) AS CheckInTime
FROM ParkingSpots ps
FULL OUTER JOIN ParkedVehicles pv
ON ps.ParkingSpotID = pv.SpotID
GO
/****** Object:  Table [dbo].[ParkingHistory]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingHistory](
	[ParkingHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[RegNumber] [nvarchar](10) NOT NULL,
	[CheckInTime] [datetime] NOT NULL,
	[CheckOutTime] [datetime] NOT NULL,
	[TotalCost] [money] NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParkingHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DisplayHistory]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DisplayHistory]
AS
SELECT RegNumber, CheckInTime, CheckOutTime, CAST(TotalCost AS INT) as TotalCost, VehicleTypeID
FROM ParkingHistory
GO
/****** Object:  View [dbo].[v_IncomePerDay]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_IncomePerDay]
AS
SELECT CAST(SUM(TotalCost) as INT) as Income, 
CAST(DATEPART(day,CheckOutTime)as INT) as 'Day', 
CAST(DATEPART(month, CheckOutTime) as INT) as 'Month', 
CAST(DATEPART(year, CheckOutTime)as INT) as 'Year'
FROM ParkingHistory
GROUP BY DATEPART(day,CheckOutTime), DATEPART(month, CheckOutTime), DATEPART(year, CheckOutTime)
GO
/****** Object:  View [dbo].[Vehicles48h]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vehicles48h]
AS

SELECT CAST(SpotID AS NVARCHAR(20)) AS SpotID, RegNumber, CAST(CheckInTime AS NVARCHAR(30)) AS CheckInTime,DATEDIFF(HOUR, CheckInTime, GETDATE()) AS HoursParked, VehicleTypeID 
FROM ParkedVehicles
WHERE DATEDIFF(HOUR, CheckInTime, GETDATE())>48

GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[VehicleTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](20) NOT NULL,
	[PricePerHour] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ParkedVehicles] ON 

INSERT [dbo].[ParkedVehicles] ([ParkedVehiclesID], [RegNumber], [VehicleTypeID], [SpotID], [CheckInTime]) VALUES (107, N'ENTIMGHT10', 2, 6, CAST(N'2021-02-03T19:50:19.443' AS DateTime))
INSERT [dbo].[ParkedVehicles] ([ParkedVehiclesID], [RegNumber], [VehicleTypeID], [SpotID], [CheckInTime]) VALUES (188, N'EYU125', 1, 1, CAST(N'2021-02-04T19:26:12.720' AS DateTime))
INSERT [dbo].[ParkedVehicles] ([ParkedVehiclesID], [RegNumber], [VehicleTypeID], [SpotID], [CheckInTime]) VALUES (193, N'TYR448', 2, 10, CAST(N'2021-02-04T19:32:43.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[ParkedVehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingHistory] ON 

INSERT [dbo].[ParkingHistory] ([ParkingHistoryID], [RegNumber], [CheckInTime], [CheckOutTime], [TotalCost], [VehicleTypeID]) VALUES (1, N'ABC123', CAST(N'2021-02-02T09:54:51.760' AS DateTime), CAST(N'2021-02-02T12:39:25.840' AS DateTime), 30.0000, 1)
INSERT [dbo].[ParkingHistory] ([ParkingHistoryID], [RegNumber], [CheckInTime], [CheckOutTime], [TotalCost], [VehicleTypeID]) VALUES (2, N'ABC200', CAST(N'2021-02-02T10:34:18.027' AS DateTime), CAST(N'2021-02-02T12:50:26.760' AS DateTime), 0.0000, 1)
INSERT [dbo].[ParkingHistory] ([ParkingHistoryID], [RegNumber], [CheckInTime], [CheckOutTime], [TotalCost], [VehicleTypeID]) VALUES (3, N'ABC124', CAST(N'2021-02-02T09:55:37.770' AS DateTime), CAST(N'2021-02-02T12:54:46.950' AS DateTime), 20.0000, 1)
SET IDENTITY_INSERT [dbo].[ParkingHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingSpots] ON 

INSERT [dbo].[ParkingSpots] ([ParkingSpotID], [SpotNumber], [CurrentOccupation]) VALUES (1, 1, 2)
INSERT [dbo].[ParkingSpots] ([ParkingSpotID], [SpotNumber], [CurrentOccupation]) VALUES (2, 2, 2)
INSERT [dbo].[ParkingSpots] ([ParkingSpotID], [SpotNumber], [CurrentOccupation]) VALUES (3, 3, 2)
GO
SET IDENTITY_INSERT [dbo].[ParkingSpots] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleTypes] ON 

INSERT [dbo].[VehicleTypes] ([VehicleTypeID], [TypeName], [PricePerHour]) VALUES (1, N'Motorcycle', 10.0000)
INSERT [dbo].[VehicleTypes] ([VehicleTypeID], [TypeName], [PricePerHour]) VALUES (2, N'Car', 20.0000)
SET IDENTITY_INSERT [dbo].[VehicleTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ParkedVe__5D9A67401A5C91F3]    Script Date: 2021-05-14 08:11:19 ******/
ALTER TABLE [dbo].[ParkedVehicles] ADD UNIQUE NONCLUSTERED 
(
	[RegNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ParkedVehicles]  WITH CHECK ADD FOREIGN KEY([SpotID])
REFERENCES [dbo].[ParkingSpots] ([ParkingSpotID])
GO
ALTER TABLE [dbo].[ParkedVehicles]  WITH CHECK ADD FOREIGN KEY([SpotID])
REFERENCES [dbo].[ParkingSpots] ([ParkingSpotID])
GO
ALTER TABLE [dbo].[ParkedVehicles]  WITH CHECK ADD FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[ParkedVehicles]  WITH CHECK ADD FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[ParkingHistory]  WITH CHECK ADD FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[ParkingHistory]  WITH CHECK ADD FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[ParkedVehicles]  WITH CHECK ADD CHECK  ((len([RegNumber])>(2) AND len([RegNumber])<(11)))
GO
ALTER TABLE [dbo].[ParkedVehicles]  WITH CHECK ADD CHECK  ((len([RegNumber])>(2) AND len([RegNumber])<(11)))
GO
ALTER TABLE [dbo].[ParkingHistory]  WITH CHECK ADD CHECK  ((len([RegNumber])>(2) AND len([RegNumber])<(11)))
GO
ALTER TABLE [dbo].[ParkingHistory]  WITH CHECK ADD CHECK  ((len([RegNumber])>(2) AND len([RegNumber])<(11)))
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD CHECK  (([CurrentOccupation]>=(0)))
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD CHECK  (([CurrentOccupation]<(3)))
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD CHECK  (([CurrentOccupation]>=(0)))
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD CHECK  (([CurrentOccupation]<(3)))
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD CHECK  (([ParkingspotID]<=(100)))
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD CHECK  (([ParkingspotID]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[CheckOutVehicle]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckOutVehicle]
@regNUm NVARCHAR(10)
AS
DECLARE @vehicleType INT, 
@parkingSpot INT, 
@checkInTime DATETIME, 
@money MONEY

SET @vehicleType = (SELECT VehicleTypeID
FROM ParkedVehicles
WHERE RegNumber = @regNUm)

SET @parkingSpot = (SELECT SpotID
FROM ParkedVehicles
WHERE RegNumber = @regNUm)

SET @checkInTime =(SELECT CheckInTime
FROM ParkedVehicles
WHERE RegNumber = @regNUm)

EXECUTE FindVehicle @regNum

EXECUTE TotalCost @regNum, @money OUTPUT

BEGIN TRANSACTION
BEGIN TRY

INSERT INTO ParkingHistory (RegNumber,CheckInTime,CheckOutTime,TotalCost, VehicleTypeID)
VALUES (@regNUm,@checkInTime, GETDATE(), @money, @vehicleType)

DELETE
FROM ParkedVehicles
WHERE RegNumber = @regNum

COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH

BEGIN TRANSACTION
BEGIN TRY

IF @vehicleType = 1
BEGIN
UPDATE ParkingSpots SET CurrentOccupation = ISNULL(CurrentOccupation,0) -1 WHERE SpotNumber = @ParkingSpot
END
IF @vehicleType = 2
BEGIN
UPDATE ParkingSpots SET CurrentOccupation = 0 WHERE SpotNumber = @ParkingSpot
END

COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[CheckOutVehicleNoCost]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckOutVehicleNoCost]
@regNUm NVARCHAR(10)
AS
DECLARE @vehicleType INT, 
@parkingSpot INT, 
@checkInTime DATETIME, 
@money MONEY = 0

SET @vehicleType = (SELECT VehicleTypeID
FROM ParkedVehicles
WHERE RegNumber = @regNUm)

SET @parkingSpot = (SELECT SpotID
FROM ParkedVehicles
WHERE RegNumber = @regNUm)

SET @checkInTime =(SELECT CheckInTime
FROM ParkedVehicles
WHERE RegNumber = @regNUm)

EXECUTE FindVehicle @regNum

BEGIN TRANSACTION
BEGIN TRY

INSERT INTO ParkingHistory (RegNumber,CheckInTime,CheckOutTime,TotalCost, VehicleTypeID)
VALUES (@regNUm,@checkInTime, GETDATE(), @money, @vehicleType)

DELETE
FROM ParkedVehicles
WHERE RegNumber = @regNum

COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH

BEGIN TRANSACTION
BEGIN TRY

IF @vehicleType = 1
BEGIN
UPDATE ParkingSpots SET CurrentOccupation = ISNULL(CurrentOccupation,0) -1 WHERE SpotNumber = @ParkingSpot
END
IF @vehicleType = 2
BEGIN
UPDATE ParkingSpots SET CurrentOccupation = 0 WHERE SpotNumber = @ParkingSpot
END

COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[FindFreeSpot]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FindFreeSpot]
@vehicleType INT,
@freeSpot INT OUTPUT
AS
IF @vehicleType=1
BEGIN
SET @freeSpot = (SELECT TOP 1 SpotNumber
FROM ParkingSpots
WHERE CurrentOccupation IS NULL OR CurrentOccupation = 1 OR CurrentOccupation = 0
ORDER BY ParkingSpotID)
END
IF @vehicleType = 2
BEGIN
SET @freeSpot = (SELECT TOP 1 SpotNumber
FROM ParkingSpots
WHERE CurrentOccupation IS NULL OR CurrentOccupation = 0
ORDER BY ParkingSpotID)
END

RETURN
GO
/****** Object:  StoredProcedure [dbo].[FindVehicle]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindVehicle](@regNum NVARCHAR(10))  
AS 
   
BEGIN 
   
DECLARE @Exist INT 
   
IF EXISTS(SELECT RegNumber FROM ParkedVehicles WHERE RegNumber=@regNum)  
   
BEGIN 
       SET @Exist = 1   
END 
   
ELSE  
   
BEGIN  
       SET @Exist=0  
	   RAISERROR('The vehicle was not found.', 17, 1)
END  
   
RETURN @Exist  
   
END
GO
/****** Object:  StoredProcedure [dbo].[InsertVehicle]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertVehicle] 
@regNum NVARCHAR(10), @vehicleTypeID INT
AS
DECLARE @ParkingSpot INT


EXECUTE FindFreeSpot @vehicleTypeID, @parkingSpot OUTPUT

BEGIN TRANSACTION
BEGIN TRY

INSERT INTO ParkedVehicles(RegNumber, VehicleTypeID, SpotID, CheckInTime)
VALUES(@regNum, @vehicleTypeID, @parkingSpot, GETDATE())

COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH


BEGIN TRANSACTION
BEGIN TRY
IF @vehicleTypeID = 1
BEGIN
UPDATE ParkingSpots SET CurrentOccupation = ISNULL(CurrentOccupation,0)+ 1 WHERE SpotNumber = @ParkingSpot
END
IF @vehicleTypeID = 2
BEGIN
UPDATE ParkingSpots SET CurrentOccupation = 2 WHERE SpotNumber = @ParkingSpot
END

SELECT SpotID
FROM ParkedVehicles
WHERE SpotID = @ParkingSpot

COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[MoveVehicle]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MoveVehicle]
@regNum NVARCHAR(10), 
@newSpot INT 
AS
DECLARE
@vehicleType INT,
@oldSpot INT,
@checkInTime DATETIME,
@spot INT

SET @oldSpot = (SELECT SpotID
FROM ParkedVehicles
WHERE RegNumber = @regNum)

SET @checkInTime = (SELECT CheckInTime
FROM ParkedVehicles
WHERE RegNumber = @regNum)

SET @vehicleType = (SELECT VehicleTypeID
FROM ParkedVehicles
WHERE RegNumber = @regNum)

BEGIN TRANSACTION
BEGIN TRY
EXECUTE FindVehicle @regNum

IF @vehicleType = 1
BEGIN
SET @spot = (SELECT SpotNumber
FROM ParkingSpots
WHERE @newSpot = SpotNumber AND (CurrentOccupation IS NULL OR CurrentOccupation = 1 OR CurrentOccupation = 0))
END
IF @vehicleType = 2
BEGIN
SET @spot =(SELECT SpotNumber
FROM ParkingSpots
WHERE @newSpot = SpotNumber AND (CurrentOccupation IS NULL OR CurrentOccupation = 0))
END
COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH

BEGIN TRANSACTION
BEGIN TRY
DELETE
FROM ParkedVehicles
WHERE RegNumber = @regNum

INSERT INTO ParkedVehicles(RegNumber, VehicleTypeID, SpotID, CheckInTime)
VALUES (@regNUm, @vehicleType, @spot, @checkInTime)

IF @vehicleType = 1
BEGIN
UPDATE ParkingSpots SET CurrentOccupation = ISNULL(CurrentOccupation,0) -1 WHERE SpotNumber = @oldSpot
UPDATE ParkingSpots SET CurrentOccupation = ISNULL(CurrentOccupation,0) +1 WHERE SpotNumber = @spot
END
IF @vehicleType = 2
BEGIN
UPDATE ParkingSpots SET CurrentOccupation = 0 WHERE SpotNumber = @oldSpot
UPDATE ParkingSpots SET CurrentOccupation = 2 WHERE SpotNumber = @spot
END

COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PrintMoney]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PrintMoney]
@regNum NVARCHAR(10) 
AS
DECLARE
@money MONEY,
@sentence NVARCHAR(100)

EXECUTE TotalCost @regNum, @money OUTPUT

SET @sentence = CAST(ISNULL(@money,0)AS VARCHAR(10)) + ' CZK'

PRINT @sentence

GO
/****** Object:  StoredProcedure [dbo].[proc_AvgPerDay]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_AvgPerDay]
@fromDate DATE, @toDate DATE
AS

DECLARE @tempTable TABLE (checkInTime DATE, checkOutTime DATE, avgIncome INT)

DECLARE
@checkIntime DATE,
@checkOutTime DATE,
@avgIncome INT


SET @avgIncome = (SELECT dbo.fk_AveragePerDay(@fromDate, @toDate))

SET @checkIntime =(SELECT TOP 1 checkInTime FROM ParkingHistory WHERE CheckInTime >= @fromDate)

SET @checkOutTime =(SELECT MAX(CheckOutTime) FROM ParkingHistory WHERE CheckOutTime <= @toDate)

INSERT INTO @tempTable(checkInTime, checkOutTime, avgIncome) VALUES (@checkIntime, @checkOutTime, @avgIncome)

SELECT CAST(@checkIntime AS DATE), CAST(@checkOutTime AS DATE), @avgIncome
FROM @tempTable
GO
/****** Object:  StoredProcedure [dbo].[proc_IncomeCertDay]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_IncomeCertDay]
@date DATE
AS

DECLARE @tempTable TABLE (checkOutTime DATE, totalIncome INT)

DECLARE
@firstCheckOut DATE,
@lastCheckOut DATE,
@totalIncome INT,
@newDate DATE

SET @firstCheckOut =(SELECT TOP 1(CheckOutTime) FROM ParkingHistory)
SET @lastCheckOut =(SELECT MAX(CheckOutTime) FROM ParkingHistory)

IF @date <= @firstCheckOut
BEGIN
SET @newDate = @firstCheckOut
END
IF @date >= @lastCheckOut
BEGIN
SET @newDate = @lastCheckOut
END
IF @date >= @firstCheckOut AND @date<=@lastCheckOut
BEGIN
SET @newDate = @date
END

SET @totalIncome = (SELECT dbo.fk_SpecDate(@newDate))

INSERT INTO @tempTable(checkOutTime, totalIncome) VALUES (@newDate, @totalIncome)

SELECT CAST(@newDate AS DATE), @totalIncome
FROM @tempTable
GO
/****** Object:  StoredProcedure [dbo].[proc_OptimizeMC]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_OptimizeMC]
AS

DECLARE @listOfMC table (regnr NVARCHAR(10), vehicleType INT, spotID INT)

DECLARE @list table (regnr NVARCHAR(10), oldSpot INT, newSpot INT)

INSERT INTO @listOfMC
SELECT RegNumber, VehicleTypeID, SpotID
FROM ParkedVehicles
WHERE VehicleTypeID = 1  


DECLARE @regNum NVARCHAR(10),
@vehicleTypeID INT,
@newSpot INT,
@oldSpot INT


WHILE exists (SELECT 1 FROM @listOfMC)
BEGIN   	 
	 SET @regNum =(SELECT TOP 1 regnr FROM @listOfMC)
	 SET @oldSpot = (SELECT SpotID FROM @listOfMC WHERE regnr = @regNum)
	 SET @vehicleTypeID =(SELECT vehicleType FROM @listOfMC WHERE regnr = @regNum)    

	
	SET @newSpot = (SELECT TOP 1 SpotNumber as spot
	FROM ParkingSpots
	WHERE CurrentOccupation IS NULL OR CurrentOccupation = 1 OR CurrentOccupation = 0)	  

	 IF @newSpot < @oldSpot
	 BEGIN
	 EXECUTE [dbo].[MoveVehicle] @regNum, @newSpot
	 INSERT INTO @list(regnr, oldSpot, newSpot) VALUES(@regNum, @oldSpot, @newSpot)
	 END   

DELETE FROM @listOfMC WHERE regnr = @regNum
END

SELECT regnr, oldSpot, newSpot
FROM @list
GO
/****** Object:  StoredProcedure [dbo].[TotalCost]    Script Date: 2021-05-14 08:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TotalCost]
@regnum NVARCHAR(10), 
@amount MONEY OUTPUT
AS
DECLARE @minutes DECIMAL = DATEDIFF(MINUTE, (SELECT CheckInTime FROM ParkedVehicles WHERE RegNumber=@regnum), GETDATE())

IF @minutes < 5
	SET @amount = 0
ELSE
BEGIN
	DECLARE @hours INT = (SELECT vt.PricePerHour FROM VehicleTypes vt
					       JOIN ParkedVehicles pv ON vt.VehicleTypeID = pv.VehicleTypeID
						   WHERE pv.RegNumber = @regnum)
	
	IF @minutes < 125
		SET @amount = @hours * 2
	ELSE
		SET @amount = (CEILING((@minutes - 5)/60)) * @hours
END
RETURN
GO
